# Add any directories, files, or patterns you don't want to be tracked by version control
.idea/
vendor/
data/meta/revision
dbdiff.php
.dbdiff
config.php
data/mobidea_new/meta/project.php
data/mobidea_new/meta/revision
